body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 1em;
  }

  .login-fields-container {
    display: flex;
    flex-direction: column;

    .text-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px; // Adjust this value as needed
      margin-bottom: 1em;

      label {
        margin-right: 1em;
      }

      input {
        flex-grow: 1;
      }
    }

    button {
      max-width: 200px; // Adjust this value as needed
      margin: 0 auto; // Center the button
    }
  }
}
